

body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;

    background-color: #e6b4fc;
}
header{
    background: linear-gradient(#e6b4fc,#9474a3);
    padding: 15px 0px 5px;
    text-align: center;
}
h1{
    font-size: 26px;
}
h2{
    text-align: left;
    font-size: 20px;
    padding: 15px;
    padding-bottom: 10px
}
h3{
    text-align: left;
    font-size: 18px;
    padding: 5px 8px;
    margin: 15px; 
    background:linear-gradient(to right, #db88ff, #f5dcff2f) ;
}
nav{
    margin-top: 10px;
    text-align: left;
}
nav > a{
    text-decoration: none;
    color: rgb(252, 249, 249);
    font-size: 14px;
    margin-right: 20px;
    margin-left: 10px;
}
nav > a:hover{
    color:#673C79 ;
    text-decoration: underline;
}
main{
    margin-left: 8%;
    margin-right: 8%;
    padding: 15px;
    background-color:white;
    text-align: center;
} main > img{
    width: 300px;
    
    
}
